$desktop-width: 1440px;

$basic-black: #000000;
$other-black: #140202;
$another-black: #212121;
$another-dark: #111010;
$basic-white: #FFFFFF;
$other-red: #F42C2B;
$another-red: #F72E2D;
$another-lighted-red: #E02927;
$other-dark: rgba(0, 0, 0, 0);
$other-lighted-dark: rgba(0, 0, 0, 0.25);
$dark-red: #460D09;
$other-dark-red: #420707;
$other-yellow: #F8C67D;
$other-gray: rgba(136, 136, 136, 0.25);
$light-gray:#EAEAEC;
$lighted-gray:#BEBEBE;
$other-lighted-gray: #E5E5E5;
